{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Instructions</title>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/info.css' %}">
</head>
<body>
    {% include 'main/menu.html' %}
    <h2>Для запуска без лишней воды</h2>
    <p>1) Перейти на кладку: <a href="{% url 'index' %}">Accounts</a></p>
    <p>2) Сменить у существующего бота текст и название сервера</a></p>
    <p>3) Нажать кнопку start у бота</a></p>
    <p>4) Ждать</a></p>
    <p>PS: Рассылка обязательным пользователям должна прийти через несколько минут</a></p>

    <h2>Accounts</h2>
    <p><b>Страница на которой отображаются боты и информация о их прогрессе</b></p>
    <br>
    <p><b>Состоит: </b>Формы и таблицы</p>
    <br>
    <p><b>Для добавления нового бота необходимо указать в форме и связаться со мной @StrunkGroove:</b></p>
    <p><b>Phone</b> - номер тлф для входа в учетную запись в Tg. Пример: +88888888888</p>
    <p><b>Password</b> - пароль от учетной записи. Пример: eUBRegbye834t</p>
    <br>
    <p><b>Status</b> - имеет 2 состояния:</p>
    <p>    - Кнопка start. Имеет 2 условия для использования: необходимо указать имя сервера и текст для спама
    <p>    - Дата начала парсинга группы</p>
    <p><b>Server</b> - отображает название группы.</p>
    <p><b>Switch server</b> - по нажатию кнопки всплывает модальное окно для ввода названия сервера. При смене текста удаляет всех пользователй и останавливает бота в течении 5 мин.</p>
    <p><b>Switch text</b> - по нажатию кнопки всплывает модальное окно для ввода текста для спама. При смене текста удаляет всех пользователй и останавливает бота в течении 5 мин.</p>
    <p><b>Download</b> - скачивает файл с пользователями</p>
    <p><b>Delete bot</b> - удаляет аккаунт</p>
    <p><b>User take spamm</b> - количество пользователей, которые получили спам-рассылку</p>
    
    <h2>Require Accounts</h2>
    <p><b>Страница на которой указываются пользователи, которые обязательно получат рассылку</b></p>
    <br>
    <p><b>Состоит: </b>Формы и таблицы</p>
    <br>
    <p><b>Для добавления нового пользователя необходимо указать в форме:</b></p>
    <p><b>Name</b> - имя пользователя. Пример: (ง •̀_•́)ง</p>
    <p><b>Identification</b> - идентификатор пользователя. Пример: @a_ha_ha_ha_ha</p>
    <p><b>Delete</b> - удаляет пользователя из обязательной рассылки</p>

</body>
</html>
